RewriteEngine On
RewriteBase /netbeans/ep-store/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*) index.php/$1 [L,PT,QSA]

# localhost/netbeans/app/index.php/books -> localhost/netbeans/app/index.php/books