RewriteEngine On
RewriteBase /netbeans/ep-store/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*) index.php/$1 [L,PT,QSA]


RewriteCond %{HTTPS} off
RewriteCond %{REQUEST_URI} !(artikli|artikli\/?)
RewriteRule "(.*)" "https://%{HTTP_HOST}%{REQUEST_URI}"

SSLVerifyClient optional 
SSLVerifyDepth 1 
SSLOptions +ExportCertData
            
