#main {
    margin-right: auto;
    width: 75%;
    text-align: center;
    
}

html { 
  background: url(../images/wall.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.89;
  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
}

* {
    text-align: center;
}

a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 45px 55px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 15px 50px;
}

a:hover {
    color: #000000;
    background-color: #f44336;
    opacity:1;
    
}

a.nav:link, a.nav:visited{
    color: cornflowerblue;
    background-color: #999999;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 15px 50px;
}

a.nav:hover {
    color: red;
    background-color: #999999;
    opacity:1;
    
}

.center {
    text-align: center;
}

p {
    text-align: center;
}

h1 {
    text-align: center;
}

ul {
    text-align: center;
}

.square {
    float: left;
    position: relative;
    width: 18%;
    padding-bottom: 10%;
    margin: 1%;
    overflow: hidden;
    border-radius: 15px 50px;
}

.content {
    position: absolute;
    height: 90%;
    width: 90%;
    padding: 5%;
}

.table {
    display: table;
    width: 100%;
    height: 100%;
}

.table-cell {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.dodaj, a.dodaj{
    border: none;
    font-size: inherit;
    border-radius: 15px 50px;
    padding: 5px;
    color: white;
    background-color: cornflowerblue;
    min-width: 5%;
    font-weight: bold;
    
}