#main {
    margin-right: auto;
    width: 75%;
    text-align: center;
    
}


html { 
  background: url(../images/b1.png);
  opacity: 0.75;
  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
}

* {
    text-align: center;
}

a:link, a:visited {
    background-color: #8498CC;
    color: white;
    padding: 45px 55px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 45px 45px;
}

a:hover {
    color:black;
    background-color: #4BDDFF;
    opacity:1;
    
}

a.nav:link, a.nav:visited{
    background-color: #CCA299;
    color: white;
    font-weight: bold;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 45px 45px;
}

a.nav:hover {
    color: black;
    background-color: #FFC2A4;
    opacity:1;
    
}

.center {
    text-align: center;
}

p {
    text-align: center;
}

h1 {
    text-align: center;
}

ul {
    text-align: center;
}

.square {
    float: left;
    position: relative;
    width: 18%;
    padding-bottom: 10%;
    margin: 1%;
    overflow: hidden;
    border-radius: 15px 50px;
}

.content {
    position: absolute;
    height: 90%;
    width: 90%;
    padding: 5%;
}

.table {
    display: table;
    width: 100%;
    height: 100%;
}

.table-cell {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.dodaj, a.dodaj{
    border: none;
    font-size: inherit;
    border-radius: 45px 45px;
    padding: 5px;
    color: white;
    background-color: cornflowerblue;
    min-width: 5%;
    font-weight: bold;
    
}

.dodaj:hover {
    background-color: #c0f751;
    color: black;
}
